<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas/blob/main/Geremicca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Medals.xlsx')
df.head()

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

2. visualizzare il totale delle medaglie delle prime 10 nazioni

In [ ]:
df['Total'][:10].sum()

587

3. visualizzare la nazione (o le nazioni) che ha vinto, in totale, meno medaglie

In [ ]:
df['Total'].min()

1

4. visualizzare le nazioni che hanno vinto più medaglie di bronzo rispetto alle medaglie d'argento

In [ ]:
df[(df['Bronze'] > (df['Silver']))] ['Team/NOC']

2                    Japan
3            Great Britain
5                Australia
6              Netherlands
8                  Germany
9                    Italy
10                  Canada
11                  Brazil
12             New Zealand
13                    Cuba
15       Republic of Korea
20                 Jamaica
23             Switzerland
27                  Serbia
28                 Belgium
29                Bulgaria
31              Uzbekistan
33          Chinese Taipei
34                  Turkey
38                 Ireland
39                  Israel
40                   Qatar
43                 Ukraine
47                   India
48        Hong Kong, China
52                 Austria
53                   Egypt
54               Indonesia
55                Ethiopia
56                Portugal
58                 Estonia
59                    Fiji
60                  Latvia
61                Thailand
66              Azerbaijan
70                Mongolia
71               Argentina
72              San Marino
82              Kazakhstan
83                  Mexico
84                 Finland
85                Botswana
86            Burkina Faso
87           Côte d'Ivoire
88                   Ghana
89                 Grenada
90                  Kuwait
91     Republic of Moldova
92    Syrian Arab Republic
Name: Team/NOC, dtype: object

5. visualizzare il numero di nazioni che non hanno vinto medaglie d'oro

In [ ]:
len(df[(df['Gold'] == 0)])

28

6. visualizzare il numero totale di medaglie d'oro e d'argento

In [ ]:
len(df[['Silver', 'Gold']])

7. visualizzare la nazione che ha vinto più medaglie di bronzo

In [ ]:
df[df['Bronze']== df['Bronze'].max()]['Team/NOC']

0    United States of America
Name: Team/NOC, dtype: object

8. visualizzare le nazioni che non hanno vinto medaglie d'argento

In [ ]:
df['Silver'] == 0

0     False
1     False
2     False
3     False
4     False
      ...
88     True
89     True
90     True
91     True
92     True
Name: Silver, Length: 93, dtype: bool

9. visualizzare le nazioni che hanno vinto un numero di medaglie d'argento superiore alla media

In [ ]:
df[df['Silver'] > df['Silver'].mean()][['Team/NOC']]

                      Team/NOC
0     United States of America
1   People's Republic of China
2                        Japan
3                Great Britain
4                          ROC
5                    Australia
6                  Netherlands
7                       France
8                      Germany
9                        Italy
10                      Canada
11                      Brazil
12                 New Zealand
14                     Hungary
15           Republic of Korea
16                      Poland
17              Czech Republic
18                       Kenya
21                       Spain
22                      Sweden
23                 Switzerland
24                     Denmark
32                     Georgia
33              Chinese Taipei
43                     Ukraine
65                    Colombia

In [ ]:
#ES2

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Athletes.xlsx')
df.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

11. visualizzare i nomi degli atleti italiani

In [ ]:
df[(df['NOC'] == 'Italy')] ['Name']

2               ABAGNALE Giovanni
27               ABDELWAHED Ahmed
72              ACERENZA Domenico
73                 ACETI Vladimir
131      AGIURGIUCULESE Alexandra
                   ...
10958              ZAZA Francesco
10961             ZAZZERI Lorenzo
10976              ZENNARO Silvia
11061                ZOGHLAMI Ala
11062              ZOGHLAMI Osama
Name: Name, Length: 356, dtype: object

12. controllare se gli atleti italiani sono di più o di meno degli atleti francesi

13. visualizzare tutti gli atleti che si chiamano Giovanni

In [ ]:
df[df['Name'].str.contains('Giovanni')]

                      Name     NOC     Discipline
2        ABAGNALE Giovanni   Italy         Rowing
2173   de GENNARO Giovanni   Italy   Canoe Slalom
2778       FALOCI Giovanni   Italy      Athletics
9739        TOCCI Giovanni   Italy         Diving
10235      VIANNA Giovanni  Brazil  Skateboarding

14. visualizzare gli atleti che si chiamano Alberto ma che non sono italiani

15. visualizzare il numero di atleti della squadra di basket spagnola

In [ ]:
len(df[df['Discipline'] == 'Basketball'] & (df[df['NOC'] == 'Spain']))

16. visualizzare i dati del dataframe ordinati in ordine alfabetico sulla disciplina

In [ ]:
df.sort_values(by=['Discipline'])

                              Name          NOC      Discipline
1569                  CAVARS Agnis       Latvia  3x3 Basketball
6168              MAWULI Stephanie        Japan  3x3 Basketball
9088                 SLAGTER Arvin  Netherlands  3x3 Basketball
3039                 FROLKINA Olga          ROC  3x3 Basketball
3038             FROLKINA Evgeniia          ROC  3x3 Basketball
...                            ...          ...             ...
4537  KADZIMAHAMEDAU Mahamedkhabib      Belarus       Wrestling
6410           MICIC Stevan Andria       Serbia       Wrestling
799            BAT OCHIR Bolortuya     Mongolia       Wrestling
9262                STADNIK Mariya   Azerbaijan       Wrestling
9197       SORONZONBOLD Battsetseg     Mongolia       Wrestling

[11085 rows x 3 columns]

17. visualizzare gli atleti scandinavi

In [ ]:
df[(df['NOC'] == 'Norway') | (df['NOC'] == 'Denmark') | (df['NOC'] == 'Sweden') | (df['NOC'] == 'Estonia')]
#Su internet mi dice che l'estonia a volte è considerato un paese scandinavo, per sicurezza l'ho messa

                      Name      NOC           Discipline
0          AALERUD Katrine   Norway         Cycling Road
50     ABELVIK ROED Magnus   Norway             Handball
105         ADLERTEG Jonna   Sweden  Artistic Gymnastics
124        AGGEFORS Mikael   Sweden             Handball
239       ALEXIUSSON Agnes   Sweden               Boxing
...                    ...      ...                  ...
10446         WARRER Jonas  Denmark              Sailing
10463         WATNDAL Erik   Norway             Shooting
10516     WESTBERG Johanna   Sweden             Handball
10559    WIKSTROM Carolina   Sweden            Athletics
11058          ZIRK Kregor  Estonia             Swimming

[357 rows x 3 columns]

18. eliminare tutti gli atleti della Francia

In [ ]:
df.drop(['Name'], axis = 1)

           NOC           Discipline
0       Norway         Cycling Road
1        Spain  Artistic Gymnastics
2        Italy               Rowing
3        Spain           Basketball
4        Spain           Basketball
...        ...                  ...
11080  Germany               Hockey
11081   Poland         Canoe Slalom
11082      ROC             Shooting
11083      ROC              Sailing
11084   Poland              Archery

[11085 rows x 2 columns]