<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas/blob/main/Preparazione_Verifica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Es1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pandas/GEREMICCA ANDREA - titanic.csv',  sep = ';')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund; Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen; Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen; Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S

1. il numero di passeggeri
2. il numero di passeggeri sopravvissuti
3. il numero di passeggeri maschi sopravvissuti
4. la percentuale di passeggeri maschi sopravvissuti
5. in numeri assoluti, sono sopravvissuti più maschi o più femmine?
6. in percentuale, sono sopravvissuti più maschi o più femmine?
7. i passeggeri che si chiamavano William
8. i passeggeri che NON si chiamavano William
9. il numero di passeggeri con un'età compresa tra 20 e 30 anni
10. l'età media dei sopravvissuti
11. la differenza tra la tariffa media pagata dai passeggeri di prima classe e quella dei passeggeri di terza classe
12. i nomi dei passeggeri di cui non si sa in che cabina si trovavano

Il numero di passeggeri

In [ ]:
len(df['PassengerId'])

891

il numero di passeggeri sopravvissuti

In [ ]:
len(df[df['Survived'] == 1])

342

il numero di passeggeri maschi sopravvissuti

In [ ]:
len(df[(df['Survived'] == 1 ) & (df['Sex'] == 'male')])

109

la percentuale di passeggeri maschi sopravvissuti

In [ ]:
df[(df["Survived"]==1) & (df["Sex"]== "male")]["Sex"].count() / df[df["Survived"]==1]["Sex"].count() *100

31.871345029239766

i passeggeri che si chiamavano William

In [ ]:
len(df[df['Name'].str.contains('William')])

69

i passeggeri che NON si chiamavano William

In [ ]:
len(df[df['Name'].str.contains('William') == False])

822

il numero di passeggeri con un'età compresa tra 20 e 30 anni

In [ ]:
len(df[(df["Age"] >= 20) & (df["Age"] <= 30)]['PassengerId'])
#oppure
#df[(df["Age"] >= 20) & (df["Age"] <= 30)]["PassengerId"].count()

245

l'età media dei sopravissuti

In [ ]:
df[df["Survived"]==1]["Age"].mean()

28.343689655172415

la differenza tra la tariffa media pagata dai passeggeri di prima classe e quella dei passeggeri di terza classe

In [ ]:
df[df["Pclass"] == 1]["Fare"].mean()

84.1546875

i nomi dei passeggeri di cui non si sa in che cabina si trovavano

In [ ]:
df.loc[df['Cabin'].isnull()]

# Es2

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pandas/GEREMICCA ANDREA - titanic.csv',  sep = ';')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund; Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen; Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen; Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#mostrare la riga dalla 20 alla 40
df.iloc[20:41]
#oppure
df[20:41]

In [ ]:
#mostrare le prime due colonne
df.iloc[: ,0:2]

In [ ]:
#somma delle età
df['Age'].sum()

21205.17

In [ ]:
#il nome delle persone con l'età maggiore a 40
df[df['Age'] >= 40][['Name']]

In [ ]:
#il nome della persona più giovane
df[df['Age'] == df['Age'].min()][['Name']]

In [ ]:
#visualizzare il numero e dei non sopravvissuti
len(df[df['Survived'] == 0])

549